{% extends "base.html" %}

{% block xyz %}


<div style="padding-left: 10%; padding-right: 10%; margin-top: 25px;">
    <h1 style="text-align: center; color: green; font-size: 31px;">All Contact Us Forms</h1>
    <table class="table">


        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Message</th>
          </tr>
        </thead>
        <tbody>

        {% for data in my_data %}
          <tr>
            <th scope="row">{{data.id}}</th>
            <td>{{data.fullname}}</td>
            <td>{{data.email}}</td>
            <td>{{data.phone_number}}</td>
            <td>{{data.message}}</td>
          </tr>
          {% endfor %}

    
        </tbody>
      </table>
</div>



{% endblock xyz %}