{% extends "base.html" %}


{% block xyz %}

<form action="/update-data/{{record.id}}" method="post">
  {% csrf_token %}

    <div style="padding-left: 15%; padding-right: 15%; margin-top: 62px;">
        <h1 style="text-align: center; color: green; margin-bottom: 12px;">Update Reocrd</h1>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your name" name = "fname" value="{{record.fullname}}">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your email address" name= "email" value="{{record.email}}">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Enter your phone number" name="pnumber" value="{{record.phone_number}}">
        </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea class="form-control" name="msg" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your Message hear..">{{record.message}}</textarea>
          </div>
    
          <div style="text-align: center;">
            <button type="submit" class="btn btn-success">Update</button>
          </div>
    </div>
</form>

  {% endblock xyz %}
