{% extends "base.html" %}

{% block body %}

<div style="padding-left: 9%; padding-right: 9%; padding-top: 1%;">
    <h1 style="text-align: center; color: red; margin-bottom: 16px;">All Contact Us forms</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">

        {% for i in mydata %}
        <div class="col">
          <div class="card">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">{{i.full_name}}</h5>
              <h6 class="card-title">Phone Number : {{i.phone_number}}</h6>
              <h6 class="card-title">User Email : {{i.email}}</h6>
              <p class="card-text">Message : {{i.message}}</p>
            </div>
            <div style="display: flex; justify-content: space-around; margin-bottom: 13px;">

                <a href="/update-data/{{i.id}}"><button type="button" class="btn btn-success">Update</button></a>

                <a href="/delete_data/{{i.id}}"><button type="button" class="btn btn-danger">Delete</button></a>

              </div>
          </div>
        </div>
        {% endfor %}

      </div>
</div>


{% endblock body %}